@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: VCR_OSD;
  src: url(media/fonts/VCR_OSD_MONO_1.001.ttf);
}

:root {
  --bouncy: cubic-bezier(0,2,.75,1);
}

body {
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
	height: 100vh;
  background-color: red;
}

a {
  text-decoration: none;
  color: unset;
}

.toolbar {
	height: 40px;
	background-color: green;
}

.toolbar div {
	font-size: 15px;
	display: flex;
	align-items: center;
	height: 100%;
}

#canvasContainer {
	width: 100%;
	height: calc(100% - 60px);
	background-color: rgb(15, 13, 25);
	position: relative;
	overflow: hidden;
}

canvas {
	position: absolute;
	background-color: white;
	border-radius: 5px;
	/* transition: transform ease-in-out 0.25s; */
}