#searchBarContainer {
  position: absolute;
  bottom: 75px;
  left: 10px;
  display: none;
  flex-direction: column;
  width: 210px;
  z-index: 1000;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.1), 0px 0px 0px 4px rgba(0, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  animation: searchBar 0.1s ease-out 1 forwards;
}

@keyframes searchBar {
  from {
    transform: translateY(10px);
  }
}

#searchBarAutocompleteContainer {
  backdrop-filter: blur(10px);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: height ease-in-out 0.25s;
}

.searchBarAutocomplete {
  cursor: pointer;
  user-select: none;
  padding: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 25px;
  border-radius: 5px;
}

.searchBarAutocomplete:hover {
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  font-weight: 700;
}

#searchBar {
  background-color: rgb(0, 0, 0, 0.5);
  border: none;
  padding: 5px;
  width: 200px;
  font-family: "Poppins", sans-serif;
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 5px;
}

#taskBar {
  position: absolute;
  bottom: 0;
  height: 45px;
  padding: 5px;
  margin: 10px;
  width: calc(100vw - 30px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.1), 0px 0px 0px 4px rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  z-index: 1001;
  transition: 
    width cubic-bezier(.7,0,.3,1) 0.25s, 
    margin cubic-bezier(.7,0,.3,1) 0.25s, 
    border-radius cubic-bezier(.7,0,.3,1) 0.25s, 
    background-color cubic-bezier(.7,0,.3,1) 0.25s,
    backdrop-filter cubic-bezier(.7,0,.3,1) 0.25s,
    transform cubic-bezier(.7,0,.3,1) 0.25s;
}

#taskBarLeft, #taskBarMain {
  display: flex;
  align-items: center;
  gap: 10px;
}

#taskBar div img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform cubic-bezier(.7,0,.3,1) 0.25s, scale ease-in-out 0.1s;
}

#taskBar div img:hover {
  transform: scale(115%);
}

#taskBar div img:active {
  transition: transform cubic-bezier(.7,0,.3,1) 0.1s;
  transform: scale(100%);
}

.timeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 0;
  line-height: 1.1;
  user-select: none;
}

.timeContainer span {
  text-align: right;
}

.timeContainer span:nth-child(1) {
  font-weight: 700;
}

.taskbarDivider {
  width: 1px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.25);
}